*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
   
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#FF7518;
    text-align: justify;
    

    
}

header {
    background-color:#ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #FF7518;
}

main{
    flex: 1 0 auto;
    background-color: black;
    
}